---
http_interactions:
- request:
    method: get
    uri: https://www.rottentomatoes.com/napi/browse/movies_at_home?after=Nw=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"41c8-nHdpRd3ZMJ1McFEm1KO+BVQJShg"
      X-Response-Time:
      - 9.058ms
    body:
      encoding: UTF-8
      string: '{"title":"Movies to Stream at Home <span>(2024)</span>","grid":{"id":"movies_at_home","list":[{"audienceScore":{"scorePercent":""},"criticsScore":{"certified":false,"scorePercent":""},"emsId":"8a18fa16-e396-4b0d-9667-ab409f15012e","isVideo":true,"mediaUrl":"/m/martinez_margaritas_and_murder","mpxId":"2371492931510","publicId":"_XIwNCs_9Xiw","posterUri":"https://resizing.flixster.com/Vy7RafuRW4jKR4azsHJs7kvix-E=/206x305/v2/https://resizing.flixster.com/MTrA0X0xhxHsl5f3k5YYlZuHznw=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzL2Y4Mzg4ZWJiLTRiYjAtNGU2NC1iMDU3LWFhYWI4NzdkYjZlMS5qcGc=","releaseDateText":"Streaming
        Oct 15, 2024","title":"Martinez, Margaritas and Murder","type":"Movie"},{"audienceScore":{"scorePercent":""},"criticsScore":{"certified":false,"scorePercent":""},"emsId":"7c7eeb48-9810-451d-ab89-f00a5a7dfff8","isVideo":true,"mediaUrl":"/m/between_the_beats","mpxId":"2378738755663","publicId":"jPkF5TveO1Op","posterUri":"https://resizing.flixster.com/83DobCyhjrh6_hjfsN-P0jLfyGs=/206x305/v2/https://resizing.flixster.com/3sY1C9XTHiNJdeBRleYo6MiLzhE=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzL2UzYzFkZGFiLTkzZDMtNDA5NS04YjY0LTBlOGJmNjkyNDQwYS5qcGc=","releaseDateText":"Stre[...]
